@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #000000;
    --font-geist-sans:
        'Geist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, sans-serif;
    --font-geist-mono: 'Geist Mono', 'Monaco', 'Courier New', monospace;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist-sans);
}

.icon-hover:hover {
    @apply bg-zinc-900 cursor-pointer border-zinc-500;
}
